#call_back_form {
    background: #ededee url("/images/header_bg.png") repeat-x scroll 0 0;
    border: 1px solid #007eb4;
    border-radius: 0 5px 5px;
    display: none;
    height: 0;
    margin-top: -18px;
    opacity: 0;
    position: absolute;
    z-index: 6000;
}
#call_back_form > span {
    float: left;
    font-family: "Helvetica Neue Cyr Light", "Arial Cyr", sans-serif;
    font-size: 13px;
    margin-left: -2px;
    margin-right: 5px;
    margin-top: 1px;
    color:  rgb(85,85,85);
}
.input_phone {
    border: 1px solid #007eb4;
    border-radius: 2px;
    box-shadow: 0 1px 6px rgba(0, 126, 180, 0.2) inset;
    height: 22px;
    width: 110px;
    color: #000000;
}
.call_back_button {
    background: #1470c5 none repeat scroll 0 0;
    border: 1px solid #1672c7;
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
    font-family: "Helvetica Neue Cyr Light", Arial;
    height: 30px;
    margin-top: 10px;
    padding-top: 5px;
    text-align: center;
    width: 190px;
}
.bonus-img {
    margin-left: 0;
    padding-left: 0;
    margin-top: 10px;
}
.bonus-img li {
    float: left;
    list-style-type: none;
    margin-right: 10px;
}
.bonus-check {
    width: 17px;
    height: 21px;
    overflow: hidden;
    background-image: url("/bitrix/templates/shop_white_v20/img/catalog-benefits.png");
}
.bonus-round-arrow {
    width: 26px;
    height: 21px;
    overflow: hidden;
    background-image: url("/bitrix/templates/shop_white_v20/img/catalog-benefits.png");
    -ms-background-position-x: 160px;background-position-x: 160px;
}
.bonus-car {
    width: 31px;
    height: 21px;
    overflow: hidden;
    background-image: url("/bitrix/templates/shop_white_v20/img/catalog-benefits.png");
    -ms-background-position-x: 123px;background-position-x: 123px;
}
.bonus-masonry {
    width: 20px;
    height: 21px;
    overflow: hidden;
    background-image: url("/bitrix/templates/shop_white_v20/img/catalog-benefits.png");
    -ms-background-position-x: 51px;background-position-x: 51px;
}
.bonus-sim {
    width: 16px;
    height: 21px;
    overflow: hidden;
    background-image: url("/bitrix/templates/shop_white_v20/img/catalog-benefits.png");
    -ms-background-position-x: 80px;background-position-x: 80px;
}
.bonus-ru {
    width: 20px;
    height: 21px;
    overflow: hidden;
    background-image: url("/bitrix/templates/shop_white_v20/img/catalog-benefits.png");
    -ms-background-position-x: 20px;background-position-x: 20px;
}

